html {
	scroll-behavior: smooth;
}
.nav {
	background-color: #f8f9f9;
	z-index: 9;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0px 2px 65px rgba(0, 0, 0, 0.15);
}
.nav_top {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 10px;
	animation: nav-load 400ms ease-in 400ms;
}
.logo {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	padding-left: 30px;
	width: 50%;
}
.nav_side {
	align-self: center;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	width: 50%;
	font-weight: bold;
}
.nav_side a {
	padding: 20px;
	margin-right: 40px;
	text-decoration: none;
	color: #ff6600;
	text-align: center;
}
.nav_side a:hover {
	text-decoration: underline;
	color: #ff7000;
	transition: all 0.3s ease-in;
}
.main {
	padding-bottom: 30px;
	background-image: url("img/background_1.jpg");
	padding-top: 40px;
	margin-top: 8%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-self: center;
	height: 500px;
	/* width: 100%; */
	align-self: center;
	border: none;
}
.main_content {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	/* padding-top: 50px; */
	/* width: 100%; */
	font-size: x-large;
	text-shadow: #f8f9f9;
	align-items: center;
	text-align: center;
}
.main_content span {
	/* margin-right: 25px; */
	justify-content: center;
	text-align: center;
	font-size: 18px;
	color: white;
	/* font-weight: lighter; */
}
.main_content h2 {
	text-align: center;
	color: white;
}
.main_content .btn {
	position: relative;

	left: 500%;
	/* right: 45%; */
	/* margin-top: 10px; */
	font-size: 24px;
	width: 140px;
	background-color: green;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
	border: 2px solid white;
	text-align: center;
}
.main_content .btn {
	position: relative;

	left: 500%;
	/* right: 45%; */
	/* margin-top: 10px; */
	font-size: 24px;
	width: 140px;
	background-color: green;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
	border: 2px solid white;
	text-align: center;
}
/* .main_content .btn::selection{

  } */
/* Dropdown Button */
.dropbtn {
	background-color: #04aa6d;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	position: relative;
	width: 400px;
	align-self: center;
	margin-top: 5%;
}
.maindropdown {
	align-items: center;
	justify-content: center;
	margin-left: 37%;
	position: absolute;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
	background-color: #3e8e41;
}

/* The search field */
#myInput {
	box-sizing: border-box;
	background-image: url("searchicon.png");
	/* background-position: 14px 12px; */
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
	outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: relative;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 1px solid #ddd;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

.product h2 {
	left: 40%;
	font-weight: bold;
	text-align: center;
	align-self: center;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	padding: 4px;
	font-size: 35px;
	padding-bottom: 20px;
}
.product .productcont {
	display: flex;
	margin-left: 20px;
}
.productcont .item {
	padding: 20px;
	width: 20%;
	height: 550px;
	overflow: hidden;
}
.productcont .item:hover {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.product .productcont .item_content {
	text-align: center;
	height: 300px;
	/* background-color: #2471A3; */
}
.product .productcont .item .item_image {
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.product .productcont .item .item_image img {
	width: 100%;
	height: 150px;
}
.product .productcont .item .item_content h3 {
	padding: 5px;
	font-size: 25px;
	font-family: cosmic, sans-serif;
}
.product .productcont .item .item_content p {
	padding: 5px;
	font-size: 15px;
	font-family: cosmic, sans-serif;
	max-height: 300px;
	overflow-y: hidden;
}
.product .productcont .item .virtualtour a {
	/* margin-top: 20px; */
	width: 150px;
	background-color: green;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.product .productcont .item .virtualtour {
	display: flex;

	height: 50px;
	align-items: center;
	justify-content: center;
	/* background-color: #ff7000; */
}
.product .productcont .item .item_content a:active {
	transform: scale(0.5);
	/* Scaling button to 0.98 to its original size */
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.4);
	/* Lowering the shadow */
}
.product .productcont .item .item_content a:hover {
	background-color: #28b463;
	transform: scale3d(0.5);
	transition: 0.1s;
}
footer {
	background-color: #99a3a4;
	padding: 40px;
}
footer .pages {
	text-align: center;
}
footer .pages h3 {
	color: black;
	font-size: 30px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .pages a {
	text-decoration: none;
	margin: 8px;
	color: #2471a3;
	font-size: 15px;
}
footer .pages a:hover {
	color: white;
}

footer .doc {
	text-align: center;
}
footer .doc h3 {
	color: black;
	font-size: 30px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .doc a {
	text-decoration: none;
	margin: 8px;
	color: #2471a3;
	font-size: 15px;
}
footer .doc a:hover {
	color: white;
}
footer .social {
	text-align: center;
}
footer .social h3 {
	color: black;
	font-size: 18px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer #Contact {
	text-align: center;
}
footer #Contact h3 {
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer #Contact a {
	text-decoration: none;
	font-size: 40px;
	margin: 10px;
}
footer #Contact a:hover {
	color: white;
}
footer .social a {
	text-decoration: none;
	font-size: 40px;
	margin: 10px;
}
footer .social a:hover {
	color: white;
}
.imgcoll {
	margin-top: 10%;
}
#arrange {
	margin-left: 5%;
	/* margin-right: 5%; */
}
.itemcontainer {
	display: flex;
	margin-left: 20px;
}
.maincollege {
	display: flex;
	justify-content: center;
	align-items: center;
}
.maincollege .imgcoll {
	width: 100%;
}
#collegeimage {
	/* margin-left: 5%; */
	margin: 5%;
}
.itemcontainer .itemcourses {
	padding: 20px;
	width: 50%;
	height: 30%;
	overflow: hidden;
}
.itemcontainer .itemcourses:hover {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.maincollege .imgcoll img:hover {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}
body {
	font-family: "Merriweather Sans", sans-serif;
}
table,
td {
	border: 1px solid black;
	border-color: collapse;
}
.select-box {
	position: relative;
	display: flex;
	width: 400px;
	flex-direction: column;
}

.select-box .options-container {
	background: #2f3640;
	color: #f5f6fa;
	max-height: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
	border-radius: 8px;
	overflow: hidden;

	order: 1;
}

.selected {
	background: #2f3640;
	border-radius: 8px;
	margin-bottom: 8px;
	color: #f5f6fa;
	position: relative;

	order: 0;
}

.selected::after {
	content: "";
	background: url("img/arrow-down.svg");
	background-size: contain;
	background-repeat: no-repeat;

	position: absolute;
	height: 100%;
	width: 32px;
	right: 10px;
	top: 5px;

	transition: all 0.4s;
}

.select-box .options-container.active {
	max-height: 240px;
	opacity: 1;
	overflow-y: scroll;
	margin-top: 54px;
}

.select-box .options-container.active + .selected::after {
	transform: rotateX(180deg);
	top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
	width: 8px;
	background: #0d141f;
	border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
	background: #525861;
	border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
	padding: 12px 24px;
	cursor: pointer;
}

.select-box .option:hover {
	background: #414b57;
}

.select-box label {
	cursor: pointer;
}

.select-box .option .radio {
	display: none;
}

/* Searchbox */

.search-box input {
	width: 100%;
	padding: 12px 16px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	position: relative;
	border-radius: 8px 8px 0 0;
	z-index: 8;
	border: 8px solid #2f3640;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s;
}

.search-box input:focus {
	outline: none;
}

.select-box .options-container.active ~ .search-box input {
	opacity: 1;
	pointer-events: auto;
}
.mainselect {
	margin-top: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.college-href {
	text-decoration: none;
	color: #fff;
}
.college-href:hover {
	text-decoration: none;
	color: #fff;
	text-decoration: underline;
}
.facility {
	color: green;
}
.rule {
	border: 0.5px solid green;
}
ul {
	font-size: 19px;
}
.mainfooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.mainfooter .githubrepo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.rule {
	border: 0.5px solid green;
}
.namesmain {
	display: flex;
	justify-content: center;
	align-items: center;
}
.namesmain .threenames {
	padding: 1%;
}
@keyframes nav-load {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.endline {
	text-align: center;
}
